@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar works starts here */

.nav-section {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid green; */
    margin-top: 50px;
    display: flex;
}

.nav-icon {
    /* border: 2px solid chartreuse; */
    min-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    width: 50%;
}

.nav-icon p {
    font-size: 2.65rem;
    font-weight: 800;
}

.nav-colour {
    color: #FF5400;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 400;
}

.nav-bar-home {
    color: #FF5400;
}

/* nav-section end here */

/* banner section starts here */
.banner-container {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../images/Group\ 13\ \(1\)\ \(1\).png');

    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    border-radius: 16px;
}

.text-container {
    text-align: center;
    padding: 100px 0px 0px 0px;
    /* border: 2px solid yellow; */
    color: white;
}

.heading {
    margin-left: 50px;
    font-size: 3.5rem;
    color: white;
    font-weight: 800;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.303);
    background-position: center;
    padding: 17px;
    font-weight: 400px;
    margin-left: 200px;
    margin-right: 220px;
    border-radius: 9px;
    margin-top: 64px;
    /* border: 2px solid yellow; */
}

.btn-01 {
    width: 174px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 9px;
    border-style: none;
}

.btn-02 {
    width: 174px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 9px;
    border-style: none;
}

.btn-03 {
    width: 174px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 9px;
    border-style: none;
}

.btn-04 {
    width: 160px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FF5400;
    border-radius: 9px;
    border-style: none;
}

/* banner part end here */

/* main section starts here */
.main-section {
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    min-height: 400px;
    margin-top: 100px;
    gap: 20px;
}

.main-text-container {
    /* border: 2px solid blue; */
    width: 48%;
    height: 52px;
    margin: 0 auto;

}

h2 {
    font-weight: 800;
    color: #131318;
    text-align: center;
    font-size: 40px;
    text-align: left;
}

.main-text-container>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-top: 23px;

}

.main-text-container>ul {
    color: rgba(19, 19, 24, 0.70);
    padding-top: 20px;
    padding-left: 15px;
    font-size: 16px;

    font-weight: 400;

}

.main-img-container {
    /* border: 4px solid limegreen; */
    width: 50%;
}

.main-img-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-ul-list,
li {
    padding: 22px;
}

.readmore {
    width: 160px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FF5400;
    border-radius: 9px;
    border-style: none;
    margin-top: 55px;
}

/* main-section ends here */

#destination {
    width: 1200px;
    /* border: 2px solid green; */
    margin: 0 auto;
    min-height: 200px;
    margin-top: 50px;
}

.destination-section {
    text-align: center;
    /* padding-top: 40px; */

}

.destination-section>h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-section>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 22px;
}

#trip-place {
    width: 1200px;
    /* border: 2px solid red; */
    /* height: 900px; */
    margin: 0 auto;
    margin-top: 40px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}
.relative{
    position:relative;
}
.text-center{
    position:absolute;
    left: 50%;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.img-01 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.img-02 {
    grid-column: 7/span 12;
    grid-row: 1/span 1;
}

.img-03 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.img-04 {
    grid-column: 5/span 4;
    grid-row: 2/span 1;
}

.img-05 {
    grid-column: 9/span 4;
    grid-row: 2/span 1;
}

.img-06 {
    grid-column: 1/span 6;
    grid-row: 3/span 1;
}

.img-07 {
    grid-column: 7/span 12;
    grid-row: 3/span 1;
}

#trip-place h3 {
    position: absolute;
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: 800;

}

#why-choose-us {
    width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    padding: 30px 150px;
}

.section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

#id {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    
}
.skills-container{
    /* border: 2px solid red; */
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.skill-01{
   /* border: 2px solid yellow; */
   background-color: #FBB56333;
   padding-left: 30px;

}
.skill-02{
   /* border: 2px solid green; */
   background-color: #29CEF633;
}
.skill-03{
   /* border: 2px solid violet; */
   width: 400px;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #E9444433;
   margin-top: 40px;
}

/* mobile-devices */
@media screen and (max-width:600px) {