@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar work starts here */
/* 
.nav-main-section {
    justify-content: space-between;
} */

.nav-section {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    /* border: 2px solid green; */
    margin-top: 50px;
}

.nav-icon {
    min-height: 20px;
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* border: 2px solid red; */
    width: 50%;
}

.nav-icon p {
    font-size: 2.65rem;
    font-weight: 800;
}

.hamberger {
    display: none;
}

.nav-colour {
    color: #FF5400;
}

.nav-items-container {
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 400;
}

.nav-bar-home {
    color: #FF5400;
}


/* nav-section end here */

/* banner section starts here */

.banner-container {
    margin-top: 40px;
}

.img-container-main {

    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    /* margin-top: 40px; */
    border-radius: 16px;
    /* background-position: center; */
    object-fit: cover;
}

.text-container {
    padding-top: 100px;
}


.heading {
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 3.5rem;
    color: white;
    font-weight: 800;
}

.third-class {
    /* border: 2px solid aqua; */
    /* justify-content: center; */
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.input-main {
    width: 900px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* border: 2px solid yellow; */
    background-color: rgba(255, 255, 255, 0.30);
    background-position: center;
    border-radius: 8px;
    margin-top: 30px;
}

select {
    width: 175px;
    height: 52px;
    /* flex-shrink: 0; */
    border-radius: 9px;
    color: rgba(19, 19, 24, 0.50);
    padding: 10px;
    font-weight: 400px;
    font-size: 16px;
    border-style: none;
}

.btn-04 {
    width: 175px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FF5400;
    border-radius: 9px;
    border-style: none;
}

/* banner part end here */

/* main section starts here */

#start-main {
    display: flex;
    width: 1200px;
    gap: 34px;
    margin: 0 auto;
    margin-top: 100px;
}

.main-section-text-contain-here {
    /* border: 4px solid blue; */
    justify-content: center;
    /* align-items: center;
    text-align: center; */
}

.main-section-text-contain-here h3 {
    font-weight: 800;
    color: #131318;
    font-size: 40px;
}

.main-section-text-contain-here>p {
    /* border: 3px solid green; */
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-top: 23px;

}

.main-section-text-contain-here>ul {
    /* border: 3px solid blue; */
    color: rgba(19, 19, 24, 0.70);
    padding-top: 20px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
}

.main-img-container {
    /* border: 4px solid limegreen; */
    width: 540px;
    height: 550px;
    object-fit: cover;
    border-radius: 16px;
    /* display: block; */
}

.main-section-text-contain-here,
li {
    padding: 15px;
}

.readmore {
    width: 174px;
    height: 52px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: #FF5400;
    border-radius: 9px;
    border-style: none;
    margin-top: 24px;
}

/* main-section ends here */

#destination {
    margin: 0 auto;
    margin-top: 50px;
}

.destination-section {
    text-align: center;
    /* padding-top: 40px; */

}

.destination-section>h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-section>p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 22px; */
}

#trip-place {
    width: 1200px;
    /* border: 2px solid red; */
    /* height: 900px; */
    margin: 0 auto;
    margin-top: 40px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.relative {
    position: relative;
}

.text-center {
    position: absolute;
    left: 50%;
}

.img-container img {
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.img-01 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.img-02 {
    grid-column: 7/span 12;
    grid-row: 1/span 1;
}

.img-03 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}

.img-04 {
    grid-column: 5/span 4;
    grid-row: 2/span 1;
}

.img-05 {
    grid-column: 9/span 4;
    grid-row: 2/span 1;
}

.img-06 {
    grid-column: 1/span 6;
    grid-row: 3/span 1;
}

.img-07 {
    grid-column: 7/span 12;
    grid-row: 3/span 1;
}

#trip-place h3 {
    position: absolute;
    color: black;
    text-align: center;
    font-size: 28px;
    font-weight: 800;

}

#why-choose-us {
    width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    padding: 30px 150px;
}

.section-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

#id {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.skills-container {
    /* border: 2px solid red; */
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.skill-01 {
    /* border: 2px solid yellow; */
    background-color: #FBB56333;
    padding-left: 30px;

}

.skill-02 {
    /* border: 2px solid green; */
    background-color: #29CEF633;
}

.skill-03 {
    /* border: 2px solid violet; */
    width: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E9444433;
    margin-top: 40px;
}

.foot-section {
    border: 2px solid black;
    background: #1313180D;
    border-radius: 10px;
    width: 1440px;
    height: 502px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px 500px; */
    /* margin: 300px; */
}


/* mobile-devices */
@media screen and (max-width:600px) {

    .banner {
        /* width: 600px; */
    }

    .foot-section {
        width: 375px;
        height: 309px;
    }

    .footer-container {
        position: absolute;
    }

    /* nav-open-here */
    .hamberger {
        display: block;
        margin-right: 0px;
        /* margin-top: 20px; */
    }

    .nav-section {
        width: 310px;
        height: 39px;
        margin: 0 auto;
        justify-content: space-between;
        padding-bottom:20px ;
    }

    .nav-icon p {

        font-size: 17px;
    }

    .hamberger {
        /* padding-left: 1px; */
        /* position: fixed; */
    }

    .nav-items-container {
        display: none;
    }

    /* nav closed */

    /* banner start here */
    .banner-container {
        width: 100%;
        margin: 0 auto;
       
    }

    .input-main {
        flex-direction: column;
        /* margin: auto; */
        width: 290px;
        height: 300px;
        margin-top: 32px;
    }

    .btn-04 {
        font-size: 16px;
    }

    .img-container-main {
        width: 335px;
        object-fit: cover;
        /* justify-content: center; */


    }

    .text-container {
        padding-top: 20px;
    }

    .heading {
        width: 205px;
        height: 35px;
        font-size: 22px;
        /* padding: 0%; */
    }

    .third-class {
        /* width: 300px; */
        /* margin-top: 0; */
        font-size: 14px;
    }

    /* banner-ends-here */

    /* main-section-starts-here */
    #start-main{
        flex-direction: column;
        margin: 0 auto;
        width: 332px;
    }

    .main-section-text-contain-here {
        /* margin-left: 15px; */
        /* width: 0%; */
    }

    .main-section-text-contain-here h3 {
        font-size: 20px;
    }

    .main-img-container {
        width: 0%;
        /* height: 342px; */
        /* margin: 50px; */
        display: contents;
        /* padding-left:30px ; */
    }

    .destination-section {
        /* width: 380px;
        height: 0; */

    }

    #destination {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .destination-section>h2 {
        font-size: 20px;
        /* border: 2px solid red; */
    }

    .destination-section>p {
        font-size: 16px;
        padding: 20px;
        /* width: 409px; */
    }
}